@model Core.Models.Order
@using Core.Models
@using System.Linq
@using Core

@{
    ViewData["Title"] = "Shopping";
}

<h2>@ViewData["Title"]</h2>
<h3>Your current delivery addresss is: @ViewData["DeliveryAddress"]</h3>
If you would like just this order deliverd to a differnt location verify a different address for instant delivery.  The address in this box will be delivered to.
If you wouldlike to try your current GPS location please click here <input type=button class=btn btn-default value="Use My Current Location" onclick="getLocation()"></input>  
<hr/>
<div class=container>
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label asp-for="GeocodedAddress" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                <div id='searchBoxContainer'> 
                    <input id='GeocodedAddress' type=text  asp-for="GeocodedAddress" value="@ViewData["DeliveryAddress"]" class="form-control" />
                </div>
                    <span asp-validation-for="GeocodedAddress" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">Must add Unit/Apt number in Special Instructions<br>
                <label asp-for="SpecialInstructions" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input id='SpecialInstructions' type=text  asp-for="SpecialInstructions" value="" class="form-control" />
                    <span asp-validation-for="SpecialInstructions" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div> 
            <input id='StreetName' type='hidden' />
            <input id='City' type="hidden" />
            <input id='Province' type="hidden" />
            <input id='PostalCode' type="hidden" />
            <input id='Country' type="hidden" />
<hr/>  
<div class="container">    
    <div class="row">
 @{var i=0;
    @foreach (var item in ViewBag.query) {
        i+=1;        

    <div class="col-md-2">
        <span id="QuantitiyAvailable">Quantity Available: @item.Quantity Grams</span>
        <div class="simpleCart_shelfItem col-md-12">
            <img class="item_add" src="@item.ImageFilePath" height="75px" width="75px" />
            <h4 class="item_name">@item.Label</h4>
            <input type="text" value="1" class="item_Quantity">
            <span class="item_price">$@item.Price </span>
             <span class="item_id">@item.ID</span>
            <a class="item_add" href="javascript:;"> Add to Cart </a>
        </div>
    </div>

   }   
 
}
</div> 
</div>
<hr />
<h2>Cart</h2>
<span id="demo" class="demo">Holder for order update</span>
<div class="yabholder" >
    <div >
        <Table>
            <tr>
                <td colspan="2" class="tabcell" ><div class="simpleCart_items"></div></td>
            </tr>
        </table><table>    
           <tr>
                <td  class="tabcell" >Sub Total</td>
                <td class="tabcell" align="right"><div class="simpleCart_total"></div></td>
           </tr>
            <tr>
                <td  class="tabcell">Delivery Fee</td>
                <td class="tabcell" ><div class="simpleCart_shipping"></div></td>
            </tr>
            <tr>
                <td  class="tabcell">GST</td>
                <td class="tabcell"><div class="simpleCart_tax"></div></td>
            </tr>
            <tr>
                <td  class="tabcell">Total</td>
                <td class="tabcell" ><div class="simpleCart_grandTotal"></div></td>
            </tr>
            <tr>
                <td colspan="2" class="tabcell"><button class="simpleCart_checkout">Checkout</button>
               <button class="simpleCart_empty">Empty Cart</button></td>
            </tr>
        </Table>
    </div>
</div>




<script>


 function LoadMap() {
        Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', {
            callback: function () {
                var manager = new Microsoft.Maps.AutosuggestManager({
                    placeSuggestions: false
                });
                manager.attachAutosuggest('#GeocodedAddress', '#searchBoxContainer', selectedSuggestion);
            },
            errorCallback: function(msg){
                alert(msg);
            },
            credentials: 'AsBPQXiDKMHud6u68TPcW7rq2UpVmTegFhU7Im1eLE_pFgiEbGLXtoa4xSu2R5fA' 
        });
    }
    
    function selectedSuggestion(result) {

        //Populate the address textbox values.
        if (top.document.getElementById('StreetName')!=null){
            top.document.getElementById('StreetName').value = result.address.addressLine;
            top.document.getElementById('City').value = result.address.locality;
            top.document.getElementById('Province').value = result.address.adminDistrict;
            top.document.getElementById('PostalCode').value = result.address.postalCode;
            top.document.getElementById('Country').value = result.address.countryRegion;
        }
        var exteriorRing;
        var InDeliveryArea=false;
        var  AreaOpen=0;
        var InDeliveryAreaConfirmed=false;
        @foreach (var item in ViewBag.deliveryareas){
 
                @:exteriorRing = [
                    @:@item.Points
                @:];
            @: polygon@(item.ID) = new Microsoft.Maps.Polygon(exteriorRing, {
            @:fillColor: 'rgba(0, 255, 0, 0.5)',
            @:strokeColor: 'red',
            @:strokeThickness: 2
            @:});

            @:var points@(item.ID) = polygon@(item.ID).getLocations();
            @:InDeliveryArea =  pointInPolygon(points@(item.ID),result.location.latitude,result.location.longitude) 
            @:if (InDeliveryArea==true){
            @:    InDeliveryAreaConfirmed=true; 
            @:    AreaOpen=@(item.Status)  
            @:        var openTime = new Date(Date.parse('@item.OpenTime'));
            @:        var closedTime = new Date(Date.parse('@item.ClosedTime'));
            
            @:        var openStr = openTime.getHours() + ":" + openTime.getMinutes();
            @:        var closeStr = closedTime.getHours() + ":" + closedTime.getMinutes();
            @:        var status = @item.Status ;
            @:        var open = @item.Open.ToString().ToLower();
         
            @:}
        }
   

            InDeliveryAreaConfirmed ? message="Your all set! This address qualifies for immediate delivery between " + openStr + " and " + closeStr : message="Sorry this address does not qualify for immediate delivery, your items will be mailed. Please add your email and submit the form behind this message and we will notify you when the area opens "
            InDeliveryAreaConfirmed ? title="Dispatched Delivery" : title="Postal Delivery"
           if (AreaOpen==2){  
               message = "Your area will be open very soon. Please add your email and submit the form behind this message and we will notify you when the area opens.";
           }
   
            var myAnswer = alert(title + " - " + message);
            if (myAnswer){
                top.document.getElementById("GeocodedAddress").value=""
            }else{
                top.document.getElementById("GeocodedAddress").value=""
            }
            InDeliveryAreaConfirmed=false;
            AreaOpen=0;
    }

function pointInPolygon(points,lat,lon) 
{
  var i;
  var j=points.length-1;
  var inPoly=false;

  for (i=0; i<points.length; i++) 
  {
    if (points[i].longitude<lon && points[j].longitude>=lon 
      || points[j].longitude<lon && points[i].longitude>=lon) 
    {
      if (points[i].latitude+(lon-points[i].longitude)/ 
        (points[j].longitude-points[i].longitude)*(points[j].latitude 
          -points[i].latitude)<lat) 
      {
        inPoly=!inPoly; 
      }
    }
    j=i; 
  }
  return inPoly; 
}
 var userId = '@ViewBag.UserId';
 function loadDoc() {
    var xhttp = new XMLHttpRequest();
    var datevar = Date().substr(0,Date().indexOf("GMT")-4);
    xhttp.onreadystatechange = function() {
        //alert("got return from xhttp readyState:" + this.readyState + " status:" + this.status + " text:" + this.responseText);
        if (this.readyState == 4 && this.status == 200) {
           
            document.getElementById("demo").innerHTML =  "Order was posted to orders table";
            
        }
    };
    xhttp.open("POST", "/Orders/CreateApi/", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    //xhttp.send("fname=Henry&lname=Ford");
    //return;
    var item_code="";
    var buildstr2 = "";
    for (var i in simpleCart.items()){
        buildstr2 +=  simpleCart.items()[i].get('quantity') + "x" + simpleCart.items()[i].get('name') + " at: $" + simpleCart.items()[i].get('price') + " for a total of: $" +  simpleCart.items()[i].get('total') +  '  \n\r';
         item_code +=  simpleCart.items()[i].get('quantity') + "x" + simpleCart.items()[i].get('invid') + ",";
    }
    buildstr2 += "<br>Grand Total: $" + simpleCart.grandTotal();
     var buildStr = ""
    //buildStr += "OrderDate='" + datevar + "'&";
    //buildStr += "DeliveryDate='" + datevar + "'&";
    buildStr += "Total=" +  simpleCart.grandTotal() + "&";    //"1" + "&";  
    buildStr += "GeocodedAddress='" + top.document.getElementById("GeocodedAddress").value + "'&";
    //buildStr += "Weight=" + "7" + "&";
    buildStr += "PaymentType=" + "1" + "&";
    buildStr += "Details='" +  buildstr2 + "'&";   // "test details" + "'&";   
    buildStr += "SpecialInstructions='" + top.document.getElementById("SpecialInstructions").value + "'&";
    buildStr += "PhoneNumber='" + item_code + "'&";
    
    buildStr += "Status=" + "1" + "&";
    //buildStr += "DriverId=" + "1" + "&";
    //buildStr += "CustomerId=" + "1" ;
    xhttp.send(buildStr); 
   
}




var x = top.document.getElementById("GeocodedAddress");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        alert("Geolocation is not supported by this browser.");
    }
}

function showPosition(position) {
  
    checkLocation(position.coords.latitude ,position.coords.longitude);
}
window.addEventListener("DOMContentLoaded", function() {
     

    }, false);


function checkLocation(lat,lon){
     var exteriorRing;
         var InDeliveryArea=false;
        var  AreaOpen=0;
        var InDeliveryAreaConfirmed=false;
        @foreach (var item in ViewBag.deliveryareas){
                @:exteriorRing = [
                    @:@item.Points
                @:];
            @:polygon@(item.ID) = new Microsoft.Maps.Polygon(exteriorRing, {
            @:fillColor: 'rgba(0, 255, 0, 0.5)',
            @:strokeColor: 'red',
            @:strokeThickness: 2
            @:});

        
            @:var points@(item.ID) = polygon@(item.ID).getLocations();
            @:InDeliveryArea =  pointInPolygon(points@(item.ID),lat,lon) 
            @:if (InDeliveryArea==true){
            @:    InDeliveryAreaConfirmed=true; 
            @:    AreaOpen=@(item.Status)  
            @:        var openTime = new Date(Date.parse('@item.OpenTime'));
            @:        var closedTime = new Date(Date.parse('@item.ClosedTime'));
            
            @:        var openStr = openTime.getHours() + ":" + openTime.getMinutes();
            @:        var closeStr = closedTime.getHours() + ":" + closedTime.getMinutes();
            @:        var status = @item.Status ;
            @:        var open = @item.Open.ToString().ToLower();
         
            @:}
        }
            InDeliveryAreaConfirmed ? message="Your current GPS location is located in an area that qualifies for immediate delivery between " + openStr + " and " + closeStr  + "Do you want to use this location for this order": message="Sorry your current GPS location does not qualify for immediate delivery, your items will be mailed. Please add your email and submit the form behind this message and we will notify you when the area opens "
            InDeliveryAreaConfirmed ? title="Dispatched Delivery" : title="Postal Delivery"
           if (AreaOpen==2){  
               message = "Your current GPS location is in area will be open very soon. Please add your email and submit the form behind this message and we will notify you when the area opens.";
           }
   
            var myAnswer = confirm(title + " - " + message);
            if (myAnswer){
                top.document.getElementById("GeocodedAddress").value=lat + " - " + lon
            }else{
            //    top.document.getElementById("GeocodedAddress").value=""
            }
            InDeliveryAreaConfirmed=false;
            AreaOpen=0;
        
            
    }
</script>












<script src="/js/checkmeout.js"></script>


    <!--<script type='text/javascript' src='/js/deliveryzone.js'></script>-->

        <script  type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=LoadMap' async defer></script>
  