@using System;
@using System.Threading;
@using System.Globalization;
@using Core.Models;
<h2>@ViewData["Title"]</h2>



Thanks for becoming a member, we appreciate your business and will work hard to keep it.  Your membership gift will be delivered to your profile address.  
Subsequent purchases can be delivered to wherever you are.  As part of our introductory special offer we are giving all new members a complimentary gift for signing up.  
This is only for a limited time so take advantage today. You can choose between one of 2 gifts you would like to recieve. Make your gift selection below.  You will be redirected to paypals website to complete your purchase.
<br>
Please note: you cannot proceed to the the shopping area until you purchase your membership.   
If you would like to register without using paypal please call the support line and we can make alternative arrangements
<hr>
@{
	DateTime myDateTime =  System.DateTime.Now;
	
	//DateTime AmountTime = new System.DateTime(0,0,0,5,0,0,0);
		
	
//TimeSpan ts = TimeSpan.Parse("12");
TimeSpan ts = TimeSpan.Zero;
int hourback = myDateTime.Hour - 8;
int minuteback = myDateTime.Minute;

TimeSpan ts2 = new TimeSpan( 0, hourback,minuteback, 0, 0 );
var TimeOut = myDateTime.Subtract(ts2);
}
<h4>Curent gifts as of @TimeOut </h4>
<!--<select asp-items=ViewBag.query2></select>-->
@{var i=0;
    @foreach (var item in ViewBag.query) {
        i+=1;        
<div class="row>">
        <div class="col-md-2">
            Gift @i is @item.Likes gram of <span> @item.Label; </span> 
    
        <div class="simpleCart_shelfItem">
        <img class="item_add" src=" @item.ImageFilePath" height="75px" width="75px" />
        <h2 class="item_name">Membership Gift @i</h2>
        <input type=hidden type="text" value="1" class="item_Quantity">
        <span class="item_price">$@item.Price</span>


        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="form1">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="encrypted" value="@item.UPC">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" id=submit@(i) alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        
        
        </div>
    </div>
</div> 
   }   
 
}


<script>
   var myQuantitys = [];
   var  myTotals= [];
   var myStrings = [];
@{ i=0;
    @foreach (var item in ViewBag.query) {
        i+=1;   

        @: myTotals[@(i-1)]=@item.Price;

        @: myQuantitys[@(i-1)]=@item.Likes;

        @: myStrings[@(i-1)]='@item.Label';
        
    @:Total@(i)=@item.Price;
    @:Quantity@(i)=@item.Likes
    
    @:$('#submit@(i)').on('click', function (e) {
        @:e.preventDefault();
        @: loaddoc(@(i));
    @:});
 }
}

 
var userId = '@ViewBag.UserId';
 function loaddoc(giftNumber) {
    var xhttp = new XMLHttpRequest();
    
    var datevar = Date().substr(0,Date().indexOf("GMT")-4);
    
    
    xhttp.onreadystatechange = function() {
        //alert("got return from xhttp readyState:" + this.readyState + " status:" + this.status + " text:" + this.responseText);
        if (this.readyState == 4 && this.status == 200) {
           
            document.getElementById("demo").innerHTML =  "Order was posted to orders table";
        }
    };
    xhttp.open("POST", "/Orders/CreateApi/", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    //xhttp.send("fname=Henry&lname=Ford");
    //return;
    var buildstr2 = "";
    var buildStr = "";
    
   
        buildstr2 += "Membership Gift " + giftNumber + " - " +  myQuantitys[giftNumber-1] + " Grams of " + myStrings[giftNumber-1];
        buildStr += "Total=" +  myTotals[giftNumber-1] + "&";
   
     
    //buildStr += "OrderDate='" + datevar + "'&";
    //buildStr += "DeliveryDate='" + datevar + "'&";
    //buildStr += "Total=" +  simpleCart.grandTotal() + "&";    //"1" + "&";  
    buildStr += "GeocodedAddress='@(ViewBag.DeliveryAddress)'&";
    //buildStr += "Weight=" + "7" + "&";
    buildStr += "PaymentType=" + "1" + "&";
    buildStr += "Details='" +  buildstr2 + "'&";   // "test details" + "'&";   
    buildStr += "SpecialInstructions='" +  "'&";
    buildStr += "Status=" + "1" + "&";
    //buildStr += "DriverId=" + "1" + "&";
    //buildStr += "CustomerId=" + "1" ;
    xhttp.send(buildStr); 
   
}


      
       


</script>