

@{
    ViewData["Title"] = "System Status";
}



<div>
    <h4></h4>

 <div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head"><h2>@ViewData["Title"]</h2></div>
    <div class="panel-body">   
<h3>@ViewData["SystemStatus"]</h3>

<div class=container-fluid>
        <div class="row">
             <div class="col-md-2">
                    <img src=/Img/greenlightSmall.png><br> Ordering System:
             </div>
             <div class="col-md-2">
                   <img src=/Img/greenlightSmall.png> <br>Email Server: 
             </div>
             <div class="col-md-2">
                    <img src=/Img/greenlightSmall.png> <br>SMS Gateway:
             </div>
             <div class="col-md-2">
                     <img src=/Img/greenlightSmall.png><br>Postal Delivery:
             </div>
             <div class="col-md-2">
                   <img src=/Img/greenlightSmall.png><br> Instant Delivery:
             </div>
             <div class="col-md-2">
                   <img src=/Img/greenlightSmall.png><br> Online Payment:
             </div>
        </div>
       <hr>
       
        @{bool AccountLocked = false;}
   @{DateTime myDateTime =  System.DateTime.Now;}
   @{TimeSpan ts = TimeSpan.Zero;}
@{int hourback = myDateTime.Hour -12  ;}
@{int minuteback = myDateTime.Minute -57 ;}
   @{TimeSpan ts2 = new TimeSpan( 0, 0,0, 0, 0 );}
   @{DateTime LockDate = new DateTime();}
   @if (ViewData["LockoutEndDate"]!=null){LockDate = DateTime.Parse(ViewData["LockoutEndDate"].ToString());} 
   @if (LockDate==null ){LockDate=DateTime.Now;}
   @{TimeSpan  lockdiff = DateTime.Parse(LockDate.ToString()).Subtract(DateTime.Now);}
        <div class=row>
                <div class=col-md-2>
                                        <h2>User Status<h2>
                </div>
                <div class=col-md-2 col-md-2>
                       <h4> 
                               @{AccountLocked=(lockdiff>ts2);}@if(AccountLocked){<span>Your Account is locked out for another </span>}else{<span>You account is not locked out</span>}
                       </h4>
                </div>
                <div class=col-md-2>
                        <h4>
                                @ViewData["AccessFailedCount"] @if (ViewData["AccessFailedCount"]==null){ <span>No Failed Login Attempts  </span>}else { <span>- Failed Login Attempts   </span>}
                        </h4>
                </div>
        </div>
        <div class="row">
            <div class="col-md-2">
               
                        @if (ViewData["IsSignedIn"]!=null){
                                @:<img src=/Img/greenlightSmall.png />
                        }else{
                                @:<img src=/Img/redlightSmall.png /> 
                        }
                  <a asp-controller="Account" asp-action="Login">       <br>Logged In:
                </a>
             </div>
             <div class="col-md-2">
                
                        @if (ViewData["PasswordConfirmed"]!=null){
                                @:<img src=/Img/greenlightSmall.png />
                        }else{
                                @:<img src=/Img/redlightSmall.png />
                        }
                       <a asp-controller="Manage" asp-action="SetPassword"><br>Password :
                </a>
             </div>
               <div class="col-md-2">
               
                         @if (ViewData["LockoutEndDate"]==null){
                                @:<img src=/Img/greenlightSmall.png /> <a href=="/Account/login"><br>Account :  
                        }else{
                                @:<img src=/Img/redlightSmall.png /> <a href="/Account/login"><br>Account :   
                        }
                </a>                               
             </div>
             <div class="col-md-2">

                        @if (ViewData["Mnp"]!= null && ViewData["Mnp"].ToString()=="True"){<img src=/Img/greenlightSmall.png />}else{<img src=/Img/redlightSmall.png /> }
                        <a asp-controller="MnpForm" asp-action="Create">                      <br>Medical :
                </a>
             </div>
              <div class="col-md-2"> 

                        @if (ViewData["profileCreated"]!= null && ViewData["profileCreated"].ToString()=="True"){<img src=/Img/greenlightSmall.png />}else{<img src=/Img/redlightSmall.png /> }
                        <a asp-controller="Manage" asp-action="UpdateUser">                      <br>Address :
                </a>
             </div>
              <!-- <div class="col-md-2">

                        @if (ViewData["MemberPaid"]!=null  && ViewData["MemberPaid"].ToString()=="2"){<img src=/Img/greenlightSmall.png />}else{<img src=/Img/redlightSmall.png /> }
                        <a asp-controller="Shopping" asp-action="PurchaseMembership">                       <br>Membership :
                </a>        
             </div> -->
               <div class="col-md-2">

                         @if (@ViewData["ConfirmedPhone"]!=null && @ViewData["ConfirmedPhone"].ToString()=="True" ) {<img src=/Img/greenlightSmall.png />}else{<img src=/Img/redlightSmall.png /> }
                        <a asp-controller="Manage" asp-action="AddPhoneNumber">                        <br>  Phone:
                </a>      
             </div>
                <div class="col-md-2">
                
                        @if (@ViewData["ConfirmedEmail"]!=null && @ViewData["ConfirmedEmail"].ToString()=="True"){<img src=/Img/greenlightSmall.png />}else{<img src=/Img/redlightSmall.png /> }
                        <a asp-controller="Account" asp-action="Register">                       <br> Email:
                </a>
             </div>
        </div>
</div>


<p>
                <!--<div class=col-md-6 col-sm-1>
                                @if (ViewData["Email"] != null){
                                        <a asp-controller="Manage" asp-action="index">Manage your account:</a>
                                }else{
                                        <a href="Account/Login"> Not logged in click to log in </a>
                                }
                                <a asp-controller="Manage" asp-action="index">
                                @if (ViewData["Email"] != null){@ViewData["Email"]}
                                </a>
                </div>
-->
</div></div>
   

