@model Core.Models.Partner


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Partner</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.GUID)
        </dt>
        <dd>
             @Html.DropDownListFor(model=>model.GUID, (IEnumerable<SelectListItem>)ViewBag.userGuids,new {disabled="disabled"})
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialInstructions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialInstructions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DropDownListFor(model=>model.DeliveryArea, (IEnumerable<SelectListItem>)ViewBag.deliveryAreas,new {disabled="disabled"})
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SMSNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SMSNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaxId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaxId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
