@model Core.Models.DriverBalance


<div>
    <h4>DriverBalance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.merchant_transaction_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.merchant_transaction_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DriverId)
        </dt>
        <dd>
             @Html.DropDownListFor(model=>model.DriverId, (IEnumerable<SelectListItem>)ViewBag.drivers,new {disabled="disabled"})
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryId)
        </dt>
        <dd>
             @Html.DropDownListFor(model=>model.InventoryId, (IEnumerable<SelectListItem>)ViewBag.inventorys,new {disabled="disabled"})
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DriverPercentageRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DriverPercentageRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DriverFlatRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DriverFlatRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Taxes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Taxes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RunningBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RunningBalance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryFeeCustomer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryFeeCustomer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryFeeSupplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryFeeSupplier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditOrDebit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditOrDebit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartnerId)
        </dt>
        <dd>
            @Html.DropDownListFor(model=>model.PartnerId, (IEnumerable<SelectListItem>)ViewBag.partners,new {disabled="disabled"})
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerGuid)
        </dt>
        <dd>
             @Html.DropDownListFor(model=>model.CustomerGuid, (IEnumerable<SelectListItem>)ViewBag.userGuids,new {disabled="disabled"})
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastChangeDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastChangeDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastChangeBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastChangeBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
