@model IEnumerable<Core.Models.DeliveryArea>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Partner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Points)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpenTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosedTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Open)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DropDownListFor(modelitem=>item.CreatedBy, (IEnumerable<SelectListItem>)ViewBag.userGuids,new {disabled="disabled"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>@Html.DropDownListFor(modelitem=>item.Partner, (IEnumerable<SelectListItem>)ViewBag.userGuids,new {disabled="disabled"})
               
            </td>
            <td>
               Points hidden available in edit or details views
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
